<div class="guideBg">
</div>
<div class="logo">
  <img src="/images/logo_head.jpg" alt="" />
</div>
<div class="guidepage" id="app">
  <div class="guideimg">
    <img src="/images/logo_branch.jpg" alt="" />
  </div>
  <div class="guidetext">
    <h1 class="sys-title">\{{title}}</h1>
  </div>
  <a class="enter-sys" href="/home">
    <!--<img src="/images/icons/3.png" alt="" />-->
    进入系统
  </a>
</div>
<script src="javascripts/index.js"></script>