<!DOCTYPE html>
<html>
  <head>
    <title>服务档案{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/horsey/horsey.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/space.css' />
    <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/angular-1.7.8/angular.min.js"></script>
    <script src="/javascripts/img.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="/javascripts/bootbox/bootbox.min.js"></script>
    <script src="/javascripts/view/common.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
    <script src="/javascripts/carousel.min.js"></script>
    <script src="/javascripts/horsey/horsey.js"></script>
  </head>
  <body class="{{bodyClass}}">
    {{{body}}}
  </body>
</html>
