<link rel="stylesheet" href="/stylesheets/jtree//jtree.css" />
<div class="EnvironmentalBg">
</div>
<div class="content">
  <div class="title">
    <h2>
      <span class="glyphicon glyphicon-leaf"></span>
      <span>{{itemName}}</span>
    </h2>
  </div>
  <div class="Eyear"></div>
  <div class="tabs-vertical">
    <ul class="tabs-ul">
    </ul>
    <div class="tabs-content-placeholder" id="treeView">
    </div>
  </div>
</div>
<!--<ul class="sey-list sey-show" style="top: 140px; left: 979.5px;">-->
<!--</ul>-->
<input type="hidden" value="{{itemID}}" id="hidden-itemID">
<script src="/javascripts/jtree/tools.js"></script>
<script src="/javascripts/jtree/handledata.js"></script>
<script src="/javascripts/jtree/jtree.js"></script>
<script src="/javascripts/list.js"></script>
