<div ng-app="myApp" ng-controller="myCtrl">
  <div class="news-head">
    <span ng-bind="model.branchTitle"></span>
  </div>
  <div class="container">
    <div class="newstop">
      <a href="">网点近期新闻列表</a> <em style="color: #07347c;">></em> <a href="" style="color: #07347c;">详情页</a>
    </div>
    <div class="newscont">
      <h2 ng-bind="model.newsTitle"></h2>
      <h4 class="news-date" ng-bind="model.newsDate"></h4>
      <div class="news-content"></div>
    </div>
  </div>
  <input type="hidden" value="{{newsID}}" id="hidden-newsID">
</div>

<script src="javascripts/news.js"></script>